* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    background-color: lightblue;
}

.divv {
    display: flex;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;

}

.box {
    margin: .5px;
    width: 50px;
    height: 50px;
    position: relative
}

#tog {
    margin: 10px 0px;
}


.allimg {
    width: 45px;
    position: relative;
    bottom: 5px;
}

.allpawn {
    transform: scale(.7);
}

@media (max-width:650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 11vw;
        height: 11vw;
    }

    .allimg {
        width: 7vw;
    }
}

#shooter {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 50px;
}

.dot {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Prevents dot from blocking mouse events */
}

/*
#bullet {
            width: 20px;
            height: 20px;
            background-color: black;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

*/